@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    background-color: blueviolet;
}
section {
    border-radius: 25px;
    position: relative;
    display: block;
    margin: auto;
    width: 250px;
    height: 400px;
    background: url(../imagens/imagem-login.jpg) center right;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.418);
}

section > article {
    position: absolute;
    top:40%;
    display: block;
    background-color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

section > article > h1 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

section > article > p {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;

}

input[type='text'], input[type='email'], input[type='password'] {
    background-color: aquamarine;
    margin: 2px;
    border: 2px solid purple;
    height: 25px;
    border-radius: 5px;
    width: 80%;
}


article > form > input {
    width: 95%;
    margin: 2px 6px 2px 6px;
    height: 25px;
    border: 1px solid rgb(82, 175, 128);
    border-radius: 5px;
}

article > form {
    margin-bottom: 25px;
}


input#entrar {
    background-color: rgb(82, 175, 128);
    color: white;
}

