@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

body, html {
    background-color: mediumorchid;
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.397);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background:mediumorchid url(../imagens/imagem-login.jpg) no-repeat;
    background-size: cover;
    background-position: bottom right;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

div.campo > label {
    display: none;
}

form > div.campo {
    background-color: mediumorchid;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
    
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: rgb(74, 145, 110);
    color: white;
    border: none;
    border-radius: 5px;
}

form > input[type=submit]:hover {
    background-color: rgb(109, 199, 154);
    cursor: pointer;
}

form > a.botao {
    display: block;
    text-align: center;
    font: 1em;
    width: 100%;
    height: 40px;
    background-color: white;
    color: rgb(43, 99, 71);
    border: 1px solid rgb(74, 145, 110);
    border-radius: 5px;
    text-decoration: none;
    padding-top: 8px;
    margin-top: 5px;
}

form > a.botao:hover {
    background-color: rgb(143, 233, 188);
}

form > a.botao > span {
    font-size: 0.8em;
}